.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--primary-color);
  grid-area: header;
  width: 100%;
  height: 80px;
  color: var(--primary-color);
}
.title {
  margin-left: 1rem;
}
.navbar {
  width: 40%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navlist {
  display: inline-flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}
