.header {
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: flex-start;
  padding: 16px 28px;
  font-family: 'Yellowtail';
  font-style: normal;
  font-weight: 400;
  font-size: 44px;
  line-height: 87px;
  color: var(--primary-color);
}

.titleDot {
  color: #ec4899;
}
