.about {
  &__container {
    row-gap: 2rem;
  }

  &__data {
    text-align: center;
  }

  &__description {
    margin-bottom: var(--mb-4);
  }

  &__img {
    width: 150px;
    border-radius: 0.5rem;
    margin: 0 auto;
  }
}
