.footer {
  background-color: var(--first-color-darken);
  color: var(--first-color-lighten);

  &__container {
    padding-top: 2rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__title {
    font-size: var(--h2-font-size);
    margin-bottom: var(--mb-1);
  }

  &__social {
    margin-bottom: 3rem;
  }

  &__link {
    display: inline-flex;
    background-color: var(--first-color);
    color: var(--first-color-lighten);
    font-size: 1.1rem;
    border-radius: 50%;
    padding: 0.4rem;
    margin: 0 var(--mb-1);
    transition: 0.3s;

    &:hover {
      background-color: var(--first-color-lighten);
      color: var(--first-color);
    }
  }
}
