.bd-grid {
  max-width: 1024px;
  display: grid;
  grid-template-columns: 100%;
  column-gap: 2rem;
  width: calc(100% - 2rem);
  margin-left: var(--mb-2);
  margin-right: var(--mb-2);
}

.header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--z-fixed);
  background-color: var(--first-color-lighten);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.section {
  padding: 4rem 0 2rem;

  &__title {
    font-size: var(--h1-font-size);
    color: var(--first-color);
    margin-bottom: var(--mb-2);
    text-align: center;
  }

  &__subtitle {
    display: block;
    font-size: var(--small-font-size);
    color: var(--frist-color-darken);
    text-align: center;
    font-weight: var(--font-bold);
    margin-bottom: 0.25rem;
  }
}

::-webkit-scrollbar {
  width: 0.5rem;

  background-color: white;
  border-radius: 0.5rem;
}

::-webkit-scrollbar-thumb {
  border-radius: 0.5rem;
  background-color: rgba(0, 0, 0, 0.322);
}

