.skills {
  &__container {
    padding: 2rem;
  }

  &__header {
    display: flex;
    align-items: center;
    margin-bottom: var(--mb-5);
    cursor: pointer;
  }

  &__icon,
  &__arrow {
    font-size: 2rem;
    color: var(--first-color);
  }

  &__icon {
    margin-right: 0.75rem;
  }

  &__title {
    font-size: var(--h3-font-size);
  }

  &__subtitle {
    font-size: var(--small-font-size);
    color: var(--text-color-light);
  }

  &__arrow {
    margin-left: auto;
    transition: 0.4s;
  }

  &__titles {
    display: flex;
    justify-content: space-between;
    margin-bottom: var(--mb-1);
  }

  &__name {
    font-size: var(--normal-font-size);
    font-weight: var(--font-medium);
    font-weight: bold;
  }

  &__list {
    row-gap: 1.5rem;
    padding-left: 2.4rem;
    margin-bottom: 2rem;
  }
}

.skills__open .skills__list {
  height: max-content;
  margin-bottom: var(--mb-5);
}

.skills__open .skills__arrow {
  transform: rotate(-180deg);
}
