
.servicesSection {
	margin-top: 3em;
}
.servicesIntro {
	font-family: 'Fira Sans', sans-serif;
	color: #222222;
	font-size: 30px;
	font-weight: 600;
}

.services {
	margin-top: 3em;
}
.servicesList {
	margin-top: 1em;
}

.servicesItem {
	color: #0d0d0d;
	font-family: 'Fira Sans', sans-serif;
	font-size: 16px;
	font-weight: 400;
	opacity: 0.5;
}
.servicesTitle {
	position: relative;
	color: #303d4d;
	font-size: 16px;
	margin-bottom: 2em;
	opacity: 0.7;
}

.servicesTitle::before {
	position: absolute;
	content: '';
	width: 20px;
	height: 3px;
	background-color: #303d4d;
	left: -31px;
	top: 10px;
}
