.projects {
	margin: 5em 0;
}
.title {
	font-weight: 600;
	font-size: 30px;
	line-height: 36px;
	color: #222222;
	font-family: 'Fira Sans', sans-serif;
}

.subtitle {
	margin-top: 10px;
	font-weight: 600;
	font-size: 16px;
	line-height: 19px;
	color: #757384;
}

@media screen and (min-width: 768px) {
	.projects {
		width: 63%;
		margin: 5em auto;
	}

	.services {
		margin: 0;
	}
}
