.button {
  display: inline-block;
  background-color: var(--first-color);
  color: #fff;
  padding: 1rem;
  border-radius: 0.5rem;
  font-weight: $font-medium;

  &:hover {
    background-color: var(--first-color-alt);
  }

  &__icon {
    font-size: 1.25rem;
    margin-left: $mb-0-5;
    margin-right: 5px;
    transition: 0.3s;
  }

  &--flex {
    display: inline-flex;
    align-items: center;
  }
}

.nav__buttons {
  display: flex;
  align-items: center;

  .change-theme {
    font-size: 1.25rem;
    color: var(--title-color);
    margin-right: $mb-1;
    cursor: pointer;

    &:hover {
      color: var(--first-color);
    }
  }
}
