.nav {
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__menu {
    position: fixed;
    top: 0;
    left: -100%;
    width: 90%;
    height: 100vh;
    padding: 3rem;
    display: flex;
    align-items: center;
    background-color: var(--first-color);
    transition: 0.5s;
  }

  &__close {
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 2rem;
    cursor: pointer;
    color: var(--first-color-dark);
  }

  &__item {
    margin-bottom: var(--mb-4);
  }

  &__link {
    font-size: 1rem;
    text-transform: uppercase;
    color: var(--first-color-lighten);
    font-weight: var(--font-bold);
    transition: 0.3s;

    &__hover {
      color: var(--text-color);
    }
  }

  &__toggle {
    color: var(--first-color-dark);
    font-size: 1.3rem;
    cursor: pointer;
  }
}

.show {
  left: 0;
}

// &__logo,
// &__toggle {
//   color: var(--title-color);
//   font-weight: $font-medium;
//   cursor: pointer;
// }

// &__logo:hover {
//   color: var(--first-color);
// }

//   &:hover {
//     color: var(--first-color);
//   }
// }

// &__icon {
//   font-size: 1.2rem;
// }

//   &:hover {
//     color: var(--first-color-alt);
//   }
// }

// /* show menu */
// .show-menu {
//   bottom: 0;
// }

// // /* Active link */
// .active-link {
//   color: var(--first-color);
// }

// // /* change background header */
// .scroll-header {
//   box-shadow: 0 -1px 4px rgba(0, 0, 0, 0.274);
// }
