.button {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 1rem;
	background: var(--orange);
	color: #000;
	text-decoration: none;
	font-family: 'Next bold';
	font-size: 1rem;
	padding: 10px;
	width: 8rem;
	border-radius: 5px;
	outline: var(--orange);
}
