.about {
  display: flex;

  width: 100%;
  height: 100%;


  &__img {
    display: block;
    width: 100px;
    height: 100px;
    margin-bottom: 1rem;
    border-radius: 50%;
    border: 1px solid black;
    position: absolute;
  }

  &__description {
    position: relative;
    width: 100%;
  }
  &__text {
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
  }
  // font-size: smaller;
  // white-space: nowrap;
  // font-weight: 500;
  // font-family: Verdana, Geneva, Tahoma, sans-serif;
  // line-height: 22px;
  // transform: translateY(-50%);
}

.arrow-container {
  margin-top: 5rem;
  position: relative;
  width: 100%;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: xx-large;

  .arrow {
    position: absolute;
    animation: slidedown 1.5s infinite;
  }
}
@keyframes slidedown {
  from {
    top: 0;
  }
  to {
    top: 40%;
  }
}

// Modificadores de texto
.about__text--bold {
  font-weight: bold;
}

.about__text--blur {
  box-shadow: 0 2px rgba(0, 255, 234, 0.452);
}

//Animaciones
.anim-typewriter1 {
  animation: typewriter 4s steps(44) 1s 1 normal both;
  // animation: name duration timing-function delay iteration-count direction fill-mode;
}

.anim-typewriter2 {
  animation: typewriter 4s steps(44) 4s 1 normal both;
  // animation: name duration timing-function delay iteration-count direction fill-mode;
}

.anim-typewriter3 {
  animation: typewriter 4s steps(44) 7s 1 normal both;
  // animation: name duration timing-function delay iteration-count direction fill-mode;
}

@keyframes typewriter {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
