.card {
	width: 100%;
	color: var(--text);
	border-radius: 10px;
}

.cardInfo {
	display: flex;
	flex-direction: column;
	background: var(--container-background);
	border-radius: 10px;
	padding-left: 10px;
	padding: 10px;
	max-width: 415px;
}

.projectInfo {
	margin-top: 10px;
	display: flex;
	flex-direction: column;
}

.title {
	font-family: 'Next bold', sans-serif;
	font-weight: 600;
	font-size: 16px;
	line-height: 21px;
	color: var(--project-title);
}
.description {
	font-weight: 400;
	font-size: 16px;
	line-height: 18px;
	color: var(--project-subtitle);
}

.cardImage {
	/* width: 300px; */
	width: 100%;
	/* height: 360px; */
	border-radius: 10px;
	border: 1px solid #acb4fe;
}

.links {
	margin-top: 1rem;
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
}

.link {
	color: var(--link-color);
	font-weight: 600;
}

@media screen and (min-width: 600px) {
	.projectInfo {
		flex-direction: row;
		gap: 1rem;
	}
	.cardImage {
		width: 270px;
		/* height: 360px; */
	}
}

@media screen and (min-width: 768px) {
	.card {
		width: 600px;
	}
}
