.projectArticle {
	margin-top: 2em;
	width: 100%;
	margin-bottom: 0.6em;
	border-radius: 14px;
	border-radius: 13px;
	display: flex;
	flex-direction: column;
}
.projectImageContainer {
	width: 100%;
}
.projectImage {
	object-position: center;
	width: 100%;
	object-fit: contain;
}

.projectInfo {
	margin-top: 2em;
	font-family: 'Fira Sans';
	text-align: start;
	padding-left: 20px;
}

.projectTitle {
	font-weight: 400;
	font-size: 32px;
	line-height: 38px;
	color: #222222;
}

.projectDescription {
	margin-top: .3em;
	opacity: 0.7;
	font-weight: 400;
	font-size: 16px;
	line-height: 28px;
}
