.projectsButton {
	margin-top: 2em;
  margin-left: .4em;
	position: relative;
	background: #6937ff;
	font-size: 21px;
	letter-spacing: 0.4px;
	border-radius: 10px;
	width: 290px;
	padding: 19px 30px;
	text-align: left;
	transition: all 0.3s ease-in-out;
	display: flex;
	justify-content: space-between;
	color: #fff;
	font-weight: 700;
}

.projectsButtonArrow {
	animation: arrow-animation 3s normal ease-in-out infinite;
}

@keyframes arrow-animation {
	0% {
		transform: translate(-20px);
	}
	100% {
		transform: translate(10px);
	}
}
