.hero {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 0 20px;
	gap: 1.5rem;
	max-width: 1200px;
}
.intro {
	order: 2;
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 100%;
}
.image {
	order: 1;
}

.image {
	width: 15em;
	background-color: rgba(68, 66, 66, 0.192);
	border-radius: 20%;
}
.title {
	margin: 0;
	font-family: 'Next bold', sans-serif;
	font-size: 32px;
}

.subtitle {
	font-family: 'Next semibold';
	font-size: 18px;
	color: gray;
}

.description {
	line-height: 2rem;
	font-size: 22px;
	margin-top: 10px;
}

.buttons {
	display: flex;
	justify-content: space-between;
	gap: 1rem;
}

@media only screen and (min-width: 768px) {
	.hero {
		padding-top: 20px;
		flex-direction: row;
		gap: 5rem;
	}

	.buttons {
		justify-content: space-around;
	}
}
