.hero {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1.5rem;
	padding: 0 20px;
}
.intro {
	order: 2;
}
.image {
	order: 1;
}

.title {
	font-family: 'Next bold', sans-serif;
	font-size: 52px;
	margin: 0;
	margin-bottom: 10px;
}

.subtitle {
	font-family: 'Next semibold';
	font-size: 24px;
	color: gray;
}

.description {
	font-family: 'Arodora ligth';
	line-height: 2rem;

	font-size: 24px;
}

.image {
	width: 12rem;
	border-radius: 50%;
}

.buttons {
	display: flex;
	gap: 1rem;
}

@media only screen and (min-width: 768px) {
	.hero {
		flex-direction: row;
	}
}

@media only screen and (min-width: 1200px) {
	.hero {
		max-width: 980px;
	}
	.subtitle {
		font-size: 16px;
	}

	.description {
		max-width: 500px;
	}
}
