.hero {
	margin-top: 3em;
	font-family: "Eina01", "Poppins", "Helvetica Neue", arial, sans-serif;
}
.title {
	display: block;
	color: #221e41;
	margin: 0;
	font-size: 32px;
	font-weight: 600;
	width: 300px;
	text-align: center;
	margin-bottom: .4em;
}

.subtitle {
	color: #757384;
	margin: 0;
	font-size: 18px;
	margin-bottom: 1em;
}

