.modalMenuContainer {
	background-color: rgb(255, 255, 255);
	position: absolute;
	top: 3em;
	height: 0;
	width: 100%;
	z-index: 10;
	transition: all 0.6s ease-in-out;
	animation: menuAnim 50ms ease-in-out forwards ;
}
.close {
	animation: closeMenu 1s ease-in-out backwards;
}

.modalMenuList {
	padding: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.modalMenuItem {
	width: 100%;
	height: 60px;
	list-style: none;
	font-size: 14px;
	color: #727275;
	padding: 0;
	font-weight: 600;
	display: flex;
	align-items: center;
	justify-content: center;
}

@keyframes menuAnim {
	0% {
		height: 0;
	}
	100% {
		height: 300px;
	}
}

@keyframes closeMenu {
	0% {
		height: 300px;
	}
	100% {
		height: 0;
	}
}

@media screen and (min-width: 992px) {
	.modalMenuContainer {
		position: relative;
		width: 200px;
	}

	.modalMenuList {
		flex-direction: row;
	}

	.modalMenuItem {
		width: 200px;
		height: 20px;
		font-weight: 400;
	}
} 
