.article {
  padding: 0;
  margin: 0;
  width: 100%;
  height: calc(100vh - var(--bottom-bar-height));
  overflow: hidden;
}

.image {
  border: 1px solid #3b82f6;
  filter: drop-shadow(12px 12px 32px rgba(17, 17, 17, 0.11));
  border-radius: 8px;
  height: 200px;
}

.title {
  font-weight: 700;
  font-size: 28px;
  color: var(--title-color);
  margin-bottom: 0;
}

.parahraph {
  color: var(--paragraph-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
}

.buttons {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media screen and (min-width: 570px) {
  .image {
    height: 290px;
  }
  .title {
    font-size: 38px;
  }
  .parahraph {
    font-size: 24px;
    line-height: 32px;
  }
}
