.skillsTitle {
	color: #222222;
	font-size: 30px;
	line-height: 36px;
	font-weight: 600;
	font-family: 'Fira Sans', sans-serif;
}

.skills {
	margin: 0 24%;
	margin-top: 2em;
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
	column-gap: 10px;
	row-gap: 30px;
	place-items: center;
}

.skillArticle {
	width: 80px;
	place-items: center;
}

.skillImage {
	display: block;
	width: 80px;
}
.skillArticle > span {
	display: block;
	margin-top: 5px;
}
