.skills {
  &__container {
    row-gap: 0;
  }

  &__header {
    display: flex;
    align-items: center;
    margin-bottom: $mb-2-5;
    cursor: pointer;
  }

  &__icon,
  &__arrow {
    font-size: 2rem;
    color: $first-color;
  }

  &__icon {
    margin-right: $mb-0-75;
  }

  &__title {
    font-size: $h3-font-size;
  }

  &__subtitle {
    font-size: $small-font-size;
    color: $text-color-light;
  }

  &__arrow {
    margin-left: auto;
    transition: 0.4s;
  }

  &__titles {
    display: flex;
    justify-content: space-between;
    margin-bottom: $mb-0-5;
  }

  &__name {
    font-size: $normal-font-size;
    font-weight: $font-medium;
  }

  &__list {
      row-gap: 1.5rem;
      padding-left: 2.7rem;
  }
}

.skills__close .skills__list{
    height: 0;
    overflow: hidden;
}

.skills__open .skills__list{
    height: max-content;
    margin-bottom: $mb-2-5;
}


.skills__open .skills__arrow{
    transform: rotate(-180deg);
}

