.article {
  margin: 1rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid rgba(0, 0, 0, 0.13);
  border-radius: 12px;
  padding: 10px;
  cursor: pointer;
  box-shadow: 0 2px 3px rgba(128, 128, 128, 0.479);
}

.article__content {
  display: flex;
  flex-direction: column;
}

.article__icon {
  font-size: x-large;
}
