.search {
  border-radius: 12px;
  padding: 5px;
  display: flex;
  height: 30px;
  align-items: center;
  background-color: white;
}

.search__button {
  border: 0;
  font-size: x-large;
}
.search__input {
  border: 0;
  margin-left: 10px;
}

