.about {
	background: var(--black);
	padding: 10px;
	color: var(--text);
	display: flex;
	justify-content: center;
}

.aboutContent {
	max-width: 1200px;
	background: var(--gray);
	border-radius: 15px;
	margin-top: 2rem;
	width: 80%;
	padding: 20px;
}

.aboutDescription {
	font-family: 'Arodora ligth';
	text-transform: unset;
	line-height: 25px;
	font-size: 18px;
}

.link {
	color: var(--black);
	text-decoration: none;
	font-style: italic;
	font-weight: bold;
}

.button {
	width: 100%;
	display: flex;
	justify-content: center;
}

@media screen and (min-width: 1200px) {
	.aboutContent {
	
		line-height: 1.7rem;
		padding: 20px;
		margin: 5rem;
	}
}
