.aboutSection {
	margin-top: 6em;
	padding: 0 10px;
}

.aboutContent {
	font-family: 'Fira Sans';
	font-style: normal;
	font-weight: 600;
	font-size: 30px;
	line-height: 36px;
}

.aboutDescription {
	margin-top: 1em;
	font-size: 16px;
	font-weight: 400;
	line-height: 28px;
}
