.qualification {
  margin-top: 4rem;
}

.header {
  display: flex;
  align-items: center;
}
.title {
  font-weight: 600;
  font-size: 2rem;
}
.subtitle {
  margin-left: 20px;
  color: #616161;
  margin-top: 30px;
}

.nav {
  width: 100%;
  display: flex;
  align-items: center;
  color: #383838;
  height: 40px;
  border-bottom: 1px solid white;
}

.navList {
  padding: 0;
  width: 35%;
  display: flex;
  justify-content: space-between;
}
