---
import MainHead from '../components/MainHead.astro';
import Footer from '../components/Footer/index.jsx';
import Nav from '../components/Nav/index.jsx';
import NotFoundBtn from '../components/NotFoundBtn/index';
---

<html lang="en">

<head>
	<MainHead title="AlbertcacV | Not Found" />
	<style lang="css">
		.not-found {

			height: 100vh;
			display: flex;
			align-items: center;
			justify-content: center;
		}

		.not-found__content {
			display: flex;
			justify-content: space-between;
			align-items: center;
			width: 58em;
		}

		.not-found__content__text {
			border-left: 1px solid rgba(128, 128, 128, 0.432);
			padding-left: 4em;
		}

		.not-found__content__text__h1 {
			font-size: 28px;
			font-weight: bold;
		}

		.not-found__content__text__p {
			font-size: 18px;
		}
	</style>
</head>

<body>
	<nav />
	<div class="not-found">

		<div class="not-found__content">
			<div class="not-found__content__image">
				<img src='assets/logo.png' alt="logo" />
			</div>
			<div class="not-found__content__text">
				<h1 class='not-found__content__text__h1'>This page could not be found</h1>
				<p class='not-found__content__text__p'>You can either stay and chill here, or go back to the beginning.
				</p>
				<NotFoundBtn />
			</div>


		</div>
	</div>
	<footer />
</body>

</html>