.contactButton {
	background: #00adff;
	border-color: #00adff;
	color: #fff;
	border-radius: 7px;
	letter-spacing: 0.2px;
	line-height: 19px;
	width: 140px;
	height: 40px;
	text-decoration: none;
	display: flex;
	align-items: center;
	justify-content: center;
}
