.contactSection {
	background-image: url('/background.png');
	margin-top: 6em;
}

.contactContent {
	color: #222222;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	z-index: 10;
	padding: 0 10px;
}

.contactIntro {
	margin-top: 2em;
	font-family: 'Fira Sans', sans-serif;
	letter-spacing: -1px;
	font-weight: 400;
	font-size: 18px;
	line-height: 22px;
	margin-bottom: 1em;
}
.contactTitle {
	font-family: 'Fira Sans', sans-serif;
	font-size: 30px;
	font-weight: 600;
	line-height: 36px;
	margin: 0;
	margin-bottom: 1em;
}

.contactButton {
	background-color: black;
	color: #fff;
	font-weight: 400;
	font-size: 14px;
	font-family: 'Fira Sans', sans-serif;
	line-height: 17px;
	width: 40%;
	height: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.contactList {
	margin-top: 2em;
	padding: 0;
}

.contactItem {
	list-style: none;
	font-weight: 400;
	font-size: 14px;
	line-height: 17px;
	font-family: 'Fira Sans', sans-serif;
	margin-bottom: 2em;
}
