.header {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	gap: 1rem;
	color: var(--text);
	height: 100%;
	width: 100%;
}

.button {
	border-radius: 10px;
	background: var(--background-button);
	border: 0;
	padding: 10px;
	box-shadow: rgba(0, 0, 0, 0.12) 0px 3px 8px;
}
