.header {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	padding-top: 10px;
	background: var(--black);
	color: var(--text);
}

.headerContent {
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.avatar {
	width: 5rem;
	border-radius: 50%;
}

.headerLeft {
	display: flex;
	align-items: center;
	gap: 10px;
}

.info {
	display: flex;
	flex-direction: column;
}

.title {
	font-weight: bold;
	font-size: 15px;
}

.subtitle {
	font-weight: var(--font-medium);
	font-size: 10px;
}

.button {
	border-radius: 50%;
	border: 0;
	padding: 10px;
	background-color: transparent;
	box-shadow: rgba(0, 0, 0, 0.12) 0px 3px 8px;
}

@media only screen and (min-width: 768px) {
	.button {
		display: none;
	}
	.nav {
		display: flex;
		justify-content: center;
	}
}

@media only screen and (min-width: 1200px) {
	.headerContent {
		max-width: 980px;
	}
	.subtitle {
		font-size: 16px;
	}
}
