.headerContent {
	position: relative;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

@media screen and (min-width: 992px) {
	.headerContent {
		justify-content: flex-start;
	}
}
