---
interface Props {
	title: string;
	href: string;
}

const { href, title } = Astro.props;
---

<article class='card'>
	<img src={href} />
	<span>{title}</span>
</article>
<style>
	.card {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-around;
		padding: 1rem;
		background-color: var(--black-secondary);
		border-radius: 7px;
		color: var(--white-primary);
	}

	span {
		font-size: 1.5rem;
		font-weight: 600;
	}

	img {
		width: 50%;
		max-width: 300px;
		height: auto;
	}
</style>
