.buttonSlide {
	position: absolute;
	width: 35px;
	height: 35px;
	pointer-events: none;

	background: var(--orange);
	border-radius: 50%;
}
.prev {
	top: 50%;
	left: 20px;
	transform: translateY(-60%);
}
.next {
	top: 50%;
	right: 20px;
	transform: translateY(-60%);
}

.image {
	max-width: 100%;
}
