.App {
	scroll-behavior: smooth;
	font-family: 'Eina01', 'Poppins', 'Helvetica Neue', arial, sans-serif;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.App-footer {
	position: relative;
}
