:root {
	font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
	font-size: 16px;
	line-height: 24px;
	font-weight: 400;

	color-scheme: light dark;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;

	--background: #fff;
	--text: #212121;
	--title: linear-gradient(99.51deg, #acb4fe 9.03%, #ae88fe 89.53%);
	--container-background: #cdd0f3;
	--project-title: #000;
	--project-subtitle: #000;
	--link-color: #ae88fe;
	--background-button: #121820;
	--about-title: #ae88fe;
	--about-text: #212121;
}

body[data-theme='dark'] {
	--background: #121820;
	--text: #8b949e;
	--title: linear-gradient(99.51deg, #cbbee7 9.03%, #ffffff 89.53%);
	--container-background: #161b22;
	--project-title: #fff;
	--project-subtitle: #8b949e;
	--link-color: #fff;
	--background-button: #4f5a68;
	--about-title: #fff;
	--about-text: #8b949e;
}

body {
	margin: 0;
}

section {
	margin-top: 4rem;
}
