.button {
  margin-top: 2rem;
  color: white;
  background-color: var(--primary-color);
  width: 230px;
  height: 60px;
  border: none;
  border-radius: 12px;
  border-color: var(--primary-color);
  font-weight: 500;
  font-size: 24px;
  line-height: 37px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button::after {
  left: 12px;
  content: '';
  position: absolute;
  width: 224px;
  height: 60px;
  border: 2px solid var(--primary-color);
  border-radius: 12px;
  top: -13px;
}
