.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: sticky;
  top: 0;
  background-color: white;
  margin-bottom: auto;
}

.header__content {
  height: 50px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header__text {
  font-size: x-large;
  font-weight: bold;
  cursor: pointer;
}

.header__logo {
  margin-left: 10px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-image: url('../../public/assets/images/logo.jpg');
  background-position: center;
  background-size: cover;
}

.header__nav,
.header__list {
  width: 100%;
}

.header__list {
  padding: 0;
  display: flex;
  justify-content: space-evenly;
  list-style: none;
}

.header__item {
  font-weight: 600;
  font-variant: small-caps;
}
