.icon {
  padding: 0.5rem;
  border-radius: 7px;
  background-color: #000000ee;
  color: white;
}

.icon__img {
  line-height: 1;
}
.icon:hover {
  background-color: white;
  color: black;
  box-shadow: 1px 1px 3px black;
}

.text {
  display: inline;
  margin-left: 5px;
}

