.slider {
  margin-top: 5rem;
}

.slider__content {
  overflow: hidden;
  cursor: grab;

  position: relative;
  scrollbar-width: 10px;
  overflow-x: scroll;
}

.slider__wrapper {
  display: grid;
  grid-template-columns: repeat(100, minmax(20.5rem, 1fr));
  gap: 0 2rem;
  grid-template-areas: '.  .  .  .  .  .  .';
  height: 100%;
}
