.section {
  display: flex;
  display: flex;
  flex-direction: column;
  flex-direction: column;
  justify-content: center;
  padding: 0 20px;
  margin-top: 10rem;
}

.button {
  margin-top: 2rem;
  color: white;
  background-color: var(--primary-color);
  width: 230px;
  height: 60px;
  border: none;
  border-radius: 12px;
  border-color: var(--primary-color);
  font-weight: 500;
  font-size: 24px;
  line-height: 37px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button::after {
  left: 12px;
  content: '';
  position: absolute;
  width: 224px;
  height: 60px;
  border: 2px solid var(--primary-color);
  border-radius: 12px;
  top: -13px;
}

.title {
  font-weight: 700;
  font-size: 28px;
  color: var(--title-color);
}

.titleColor {
  background: linear-gradient(
    90.2deg,
    #3b82f6 23.77%,
    #ec4899 53.43%,
    #3b82f6 99.94%
  );
  -webkit-text-fill-color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}
.paragraph {
  color: var(--paragraph-color);
  width: 305px;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
}
