.layout {
  height: 100vh;
  display: grid;
  grid-template-columns: 0.6fr 2.2fr;
  grid-template-rows: 80px auto;
  gap: 0px 0px;
  grid-template-areas:
    'header header'
    'profile content';
  background-color: var(--background-color);
}
