.section {
  margin-top: 2rem;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
}

.title {
  font-weight: 700;
  font-size: 32px;
  line-height: 49px;
  color: var(--title-color);
  margin-bottom: 0;
}

.paragraph {
  color: var(--paragraph-color);
}

@media screen and (min-width: 1024px) {
  .section {
    padding: 0 10em;
  }

  .projects {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    column-gap: 4em;
    row-gap: 1rem;
  }

}
